<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_MAPS_KEY</key>
	<string>$(GOOGLE_MAPS_KEY)</string>
	<key>MAPBOX_ACCESS_TOKEN</key>
	<string>$(MAPBOX_ACCESS_TOKEN)</string>
</dict>
</plist>
